{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

{% block content %}
  <h1>Hello world</h1>
  <p>{{message}}</p>

  <a href="{{ url_for('set_data')}}">set session data</a><br>
  <a href="{{ url_for('get_data')}}">get session data</a><br>
  <a href="{{ url_for('clear_session')}}">delete session data</a><br>
  
  <a href="{{ url_for('set_cookie')}}">Set Cookie</a><br>
  <a href="{{ url_for('get_cookie')}}">get Cookie</a><br>
  
  <a href="{{ url_for('remove_cookie')}}">remove cookie</a><br>
  <a href="{{ url_for('login')}}">Login</a><br>


{% endblock %}
